<mat-card-content>
    <div class="displayflex">
        <div *ngIf="center | async" class="map-flex">

            <div *ngIf="ready" class="map"
                 leaflet
                 [leafletOptions]="options"
                 (leafletMapReady)="onMapReady($event)"
                 [leafletLayers]="markers | async"
                 [leafletFitBounds]="bounds | async"
                 [leafletFitBoundsOptions]="fitbounds"
            >
            </div>
        </div>
        <div class="locationtable-flex">
            <daylocation-component class="ltable"></daylocation-component>
        </div>
    </div>
</mat-card-content>
